<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Watson!</title>
	        <!-- animsition.css -->
		<link rel="stylesheet" href="/static/css/animsition.min.css">
		<!-- jQuery -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- animsition.js -->
		<script src="/static/js/animsition.min.js"></script>
    </head>
    <body>
	  <div class="animsition-overlay">
	  	姓名输入框
	    <a href="/year" class="animsition-link">下一步</a>
	  </div>
	</body>
	<script type="text/javascript">
			$(document).ready(function() {
  $(".animsition-overlay").animsition({
    inClass: 'overlay-slide-in-right',
    outClass: 'overlay-slide-out-right',
    inDuration: 1500,
    outDuration: 800,
    linkElement: '.animsition-link',
    // e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
    loading: true,
    loadingParentElement: 'body', //animsition wrapper element
    loadingClass: 'animsition-loading',
    loadingInner: '', // e.g '<img src="loading.svg" />'
    timeout: false,
    timeoutCountdown: 5000,
    onLoadEvent: true,
    browser: [ 'animation-duration', '-webkit-animation-duration'],
    // "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
    // The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
    overlay : true,
    overlayClass : 'animsition-overlay-slide',
    overlayParentElement : 'body',
    transition: function(url){ window.location.href = url; }
  });
});
	</script>
</html>
